*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppingsmedium;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #333333 0%, #666666 40%, #999999 60%, #cccccc 100%);
}

section{
    padding: 45px;
    background-color: rgba(0, 0, 0, 0.63);
    width: 500px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

header img{
    width: 140px;
    height: 140px;
}

header h3{
    color: whitesmoke;
    font-size: 50px;
}

header p{
    color: whitesmoke;
    font-size: 30px;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

main a{
    background: rgb(27, 16, 18);
    padding: 15px 0;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    transition: all .5s ease in out;
}

main a:hover{
    opacity: .85;
}