@media screen and (max-width: 1070px) {
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 38px;
    }

    form[type="submit"] {
        margin: 0 auto;
        width: 70%;
    }

    form {
        margin: 0 auto;
        width: 70%;
    }

    input {
        align-self: center;
    }

    img {
        display: none;
    }

    footer p {
        margin: 0;
    }
}